{% extends "base.html" %}

{% block title%}Relying Party{% endblock %}

{% block body %}
<form action="/start" method="post">
    <label for="issuer">Issuer URL:</label>
    <input type="text" id="issuer" name="issuer" autofocus/>
    <br>

    <label for="software_statements">Software statements:</label>
    <select id="software_statements" name="software_statement">
        <option selected disabled hidden value=""></option>
        {% for ss in software_statements %}
        <option value="{{ loop.index0 }}">{{ ss }}</option>
        {% endfor %}
    </select>
    <br>
    <button type="submit">Start</button>
</form>
{% endblock %}